$breakpoint: 1300px;
$defaultMaxWidth: 1270px;

$background: #f1f3f6;

$lmColor1: rgb(29, 64, 105);
$lmColor2: rgb(36, 72, 136);
$lmColor3: rgb(7, 38, 115);
$lmColor4: #e74c3c;

$lmSuccess: #27ae60;
$lmError: #e74c3c;
$lmSuccessDarken: #1b6d3d;
$lmErrorDarken: #852d24;
$lmVanish: rgb(177, 177, 177);
